@import "./reset.css";

@font-face {
  font-family: lalezar;
  src: url(./fonts/Lalezar-Regular.ttf);
}

:root {
  --white: #ffffff;
  --white-50: #f0f0f0;
  --blue: #471aaa;
}

body {
  background-color: var(--white-50);
  display: flex;
  direction: rtl;
}

*,
body,
html {
  font-family: lalezar;
}
